/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mallanna&display=swap');

/* customize scrollbar */
::-webkit-scrollbar {width: 13px}
::-webkit-scrollbar-track {background: black}
::-webkit-scrollbar-thumb {background: darkgray}

body, article {
    font-family: 'Inter';
    background-color: #2f4f4f;
    text-align: center;
    margin: 8px;
    padding: 8px;
}

article{
    border: #426F6F solid 4px;
    box-shadow: 2px 2px 1px rgb(0 0 0 / 80%);
    border-radius: 25px;
}

h2, h6, li, section, #subtotal{
    color: whitesmoke;
}

div {
    display: flex;
    justify-content: space-around;
    color: black;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#orderButton {
    background-color: #FF8E00;
}

button {
    filter: drop-shadow(3px 3px 2px slategrey);
    margin: 10px;
}

main {
    margin-left: 20px;
}

ul, li {
    list-style-type: none;
}

#order-location{
    font-size: 20px;
    font-weight: 500;
}

#subtotal {
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
}

#orders {
    font-size: 20px;
}

.me {
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
}

.final {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}
